html {
  scroll-behavior: smooth;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.graph-fill {
  height: 24px;
  transition: width 1s ease-in-out;
}

.graph-label {
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
